ws/.flows_HOW-i5-3550.json.backup
[{"id":"337eae4a.036342","type":"tab","label":"show bw","disabled":false,"info":""},{"id":"37aefa5.2e41d06","type":"tab","label":"show ping","disabled":false,"info":""},{"id":"d2ca281a.d009a8","type":"ui_group","z":"","name":"BW","tab":"4f567fc5.c77b5","disp":true,"width":"20","collapse":false},{"id":"4f567fc5.c77b5","type":"ui_tab","z":"","name":"頻寬","icon":"dashboard","disabled":false,"hidden":false},{"id":"cf0f47ac.83f6a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c6296e1.fd2c19","type":"ui_group","z":"","name":"pinglog","tab":"fbdc391c.0f97f8","disp":true,"width":"20","collapse":false},{"id":"fbdc391c.0f97f8","type":"ui_tab","z":"","name":"pinglog","icon":"dashboard","disabled":false,"hidden":false},{"id":"2ccd5763.75cf68","type":"inject","z":"337eae4a.036342","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":380,"wires":[["5ae4e0b7.2213f"]]},{"id":"1d0d891b.6f36a7","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":580,"wires":[]},{"id":"c7235129.bf63e","type":"function","z":"337eae4a.036342","name":"生成 chart msg","func":"ax = msg.payload.X;\nay = msg.payload.Y;\n\nmsg.payload = [{\n \"series\": [ \"X\" ],\n \"data\": [ ay ],\n \"labels\": ax\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":620,"wires":[["2983a5bb.02e65a","1d0d891b.6f36a7"]]},{"id":"2983a5bb.02e65a","type":"ui_chart","z":"337eae4a.036342","name":"","group":"d2ca281a.d009a8","order":0,"width":0,"height":0,"label":"頻寬-上傳 (Mbits/sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":620,"wires":[[]]},{"id":"5ae4e0b7.2213f","type":"file in","z":"337eae4a.036342","name":"","filename":"upload.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":150,"y":420,"wires":[["6f57218.c6d14e","8dc84150.2eb4"]]},{"id":"6f57218.c6d14e","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":420,"wires":[]},{"id":"8dc84150.2eb4","type":"join","z":"337eae4a.036342","name":"組成array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":140,"y":460,"wires":[["b544825d.dd2db","34237a8b.343af6"]]},{"id":"b544825d.dd2db","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":460,"wires":[]},{"id":"34237a8b.343af6","type":"function","z":"337eae4a.036342","name":"排除非必須","func":"// 排除開頭不是[ 5]的資料\nlet data_arr = [];\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element =  msg.payload[index];\n    //console.log(element);\n    if(element.includes(\"[  5]\") == true)\n    {\n        //console.log(element);\n        data_arr.push(element)\n    }\n}\n\n// 去頭1行\ndata_arr.shift();\n\n// 去尾2行\ndata_arr.pop();\ndata_arr.pop();\n\nmsg.payload = data_arr;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":500,"wires":[["f3433125.7fa9a","5bdfb8de.28aa48"]]},{"id":"f3433125.7fa9a","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":500,"wires":[]},{"id":"5bdfb8de.28aa48","type":"function","z":"337eae4a.036342","name":"字串分割","func":"let rValue = [];\n\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    let strs = element.split(/\\s+/)\n    rValue.push(strs);\n}\nmsg.payload = rValue;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":540,"wires":[["9e1ac294.6d032","829ef8a2.d18168"]]},{"id":"9e1ac294.6d032","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":540,"wires":[]},{"id":"829ef8a2.d18168","type":"function","z":"337eae4a.036342","name":"產生數據","func":"let X = [];\nlet Y = [];\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    if(element.length != 9)    {\n        console.log(\"element.length != 9\");     \n    }\n    else{\n        // X\n        let strs = element[2].split(\"-\")\n        //console.log(strs);   \n        X.push(strs[0]);\n        \n        // Y\n        if(element[7] === \"Mbits/sec\")\n        {\n            Y.push(parseFloat(element[6]));\n        }\n        else\n        {\n            Y.push(parseFloat(0.0));\n            console.log(element[7]);     \n        }\n    }\n}\nlet rValue = {};\nrValue.X = X;\nrValue.Y = Y;\nmsg.payload = rValue;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":140,"y":580,"wires":[["1bd372b.33c588d","6443f00b.24e6e"]]},{"id":"1bd372b.33c588d","type":"debug","z":"337eae4a.036342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":580,"wires":[]},{"id":"6443f00b.24e6e","type":"change","z":"337eae4a.036342","name":"保存數據","rules":[{"t":"set","p":"GL","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":620,"wires":[["c7235129.bf63e"]]},{"id":"808f74e3.7f9638","type":"inject","z":"337eae4a.036342","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":60,"wires":[["a4a1b1f4.1500b"]]},{"id":"11a3c88.8262f38","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":260,"wires":[]},{"id":"f40408eb.2dfc78","type":"function","z":"337eae4a.036342","name":"生成 chart msg","func":"ax = msg.payload.X;\nay = msg.payload.Y;\n\nmsg.payload = [{\n \"series\": [ \"X\" ],\n \"data\": [ ay ],\n \"labels\": ax\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["a97946b9.249778","11a3c88.8262f38"]]},{"id":"a97946b9.249778","type":"ui_chart","z":"337eae4a.036342","name":"","group":"d2ca281a.d009a8","order":0,"width":0,"height":0,"label":"頻寬-下載 (Mbits/sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":300,"wires":[[]]},{"id":"a4a1b1f4.1500b","type":"file in","z":"337eae4a.036342","name":"","filename":"download.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":170,"y":100,"wires":[["b86abd6b.ac2f","23fdbc7f.497f94"]]},{"id":"b86abd6b.ac2f","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":100,"wires":[]},{"id":"23fdbc7f.497f94","type":"join","z":"337eae4a.036342","name":"組成array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":160,"y":140,"wires":[["d971fc85.f3eea","f42e6e1d.5078b"]]},{"id":"d971fc85.f3eea","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":140,"wires":[]},{"id":"f42e6e1d.5078b","type":"function","z":"337eae4a.036342","name":"排除非必須","func":"// 排除開頭不是[ 5]的資料\nlet data_arr = [];\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element =  msg.payload[index];\n    //console.log(element);\n    if(element.includes(\"[  5]\") == true)\n    {\n        //console.log(element);\n        data_arr.push(element)\n    }\n}\n\n// 去頭1行\ndata_arr.shift();\n\n// 去尾2行\ndata_arr.pop();\ndata_arr.pop();\n\nmsg.payload = data_arr;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":180,"wires":[["633d289d.621bf8","fad5332.6d0eed"]]},{"id":"633d289d.621bf8","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":180,"wires":[]},{"id":"fad5332.6d0eed","type":"function","z":"337eae4a.036342","name":"字串分割","func":"let rValue = [];\n\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    let strs = element.split(/\\s+/)\n    rValue.push(strs);\n}\nmsg.payload = rValue;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":220,"wires":[["39ad2cab.411564","ab3a9b3a.cac4b8"]]},{"id":"39ad2cab.411564","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":220,"wires":[]},{"id":"ab3a9b3a.cac4b8","type":"function","z":"337eae4a.036342","name":"產生數據","func":"let X = [];\nlet Y = [];\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    if(element.length != 9)    {\n        console.log(\"element.length != 9\");     \n    }\n    else{\n        // X\n        let strs = element[2].split(\"-\")\n        //console.log(strs);   \n        X.push(strs[0]);\n        \n        // Y\n        if(element[7] === \"Mbits/sec\")\n        {\n            Y.push(parseFloat(element[6]));\n        }\n        else\n        {\n            console.log(element[7]);     \n        }\n    }\n}\nlet rValue = {};\nrValue.X = X;\nrValue.Y = Y;\nmsg.payload = rValue;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":160,"y":260,"wires":[["fe18f3b.dd0201","8a21e25e.6b268"]]},{"id":"fe18f3b.dd0201","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":260,"wires":[]},{"id":"8a21e25e.6b268","type":"change","z":"337eae4a.036342","name":"保存數據","rules":[{"t":"set","p":"download.X","pt":"flow","to":"payload.X","tot":"msg"},{"t":"set","p":"download.Y","pt":"flow","to":"payload.Y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["f40408eb.2dfc78"]]},{"id":"ef8e2152.690ce","type":"file in","z":"37aefa5.2e41d06","name":"","filename":"pinginfo.html","format":"utf8","chunk":false,"sendError":false,"encoding":"ucs2","x":290,"y":300,"wires":[["aab6c67e.f874e8","8ae8efe5.22dbd"]]},{"id":"33bb9509.d7af0a","type":"inject","z":"37aefa5.2e41d06","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":300,"wires":[["ef8e2152.690ce"]]},{"id":"8ae8efe5.22dbd","type":"html","z":"37aefa5.2e41d06","name":"td 取得表格","property":"payload","outproperty":"payload","tag":"td","ret":"text","as":"single","x":290,"y":340,"wires":[["3a7faf8e.feab4","a768ee77.c5e6d"]]},{"id":"aab6c67e.f874e8","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":300,"wires":[]},{"id":"3a7faf8e.feab4","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":340,"wires":[]},{"id":"a768ee77.c5e6d","type":"split","z":"37aefa5.2e41d06","name":"5個一行","splt":"","spltType":"str","arraySplt":"5","arraySpltType":"len","stream":false,"addname":"","x":280,"y":380,"wires":[["84b040ee.7a77f","9c1010e9.84c61"]]},{"id":"84b040ee.7a77f","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":380,"wires":[]},{"id":"9c1010e9.84c61","type":"join","z":"37aefa5.2e41d06","name":"整理","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":420,"wires":[["e311faf6.faf688","11ad5811.310c18"]]},{"id":"e311faf6.faf688","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":420,"wires":[]},{"id":"66216c83.c71ff4","type":"function","z":"37aefa5.2e41d06","name":"產生數據","func":"\nlet rValue = {};\nrValue.X = [];\nrValue.Y = [];\n\nfor(let i = 0 ; i < msg.payload.y.length ; i++)\n{\n    let x = (msg.payload.x[i].timestamp - msg.payload.x[0].timestamp) / 1000.0;\n    rValue.X.push(x);\n    rValue.Y.push(msg.payload.y[i]);\n}\n\nmsg.payload = rValue;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":280,"y":540,"wires":[["cb2d7186.3635","c69e7fc8.e9f53","8b7cab63.cf08a8"]]},{"id":"11ad5811.310c18","type":"function","z":"37aefa5.2e41d06","name":"提取資料","func":"function str2time(str_time) {\n\tlet str = str_time;\n\tfor(let i = 0 ; i < 3 ; i++)\n\t{\n\t\tstr = str.replace(\"/\",\"-\");\n\t}\n\tstr = str.replace(\" 上午 \",\" \");\n\tstr = str.replace(\" 下午 \",\" \");\n\n\t//console.log(str);\n\treturn Date.parse(str);\n}\n\nlet rValue={};\nrValue.x = [];\nrValue.y = [];\n\nfor (let index = 0; index < msg.payload.length; index++) {\n\tconst element = msg.payload[index];\n\tlet x = {};\n\tx.time_str = element[0];\n\tx.timestamp = str2time(element[0]);\n\t\n\tif(element[4].includes(\"Succeeded\")) // Ping Status\n\t{\n\t\tlet y = Number(element[1]); //ping time\n\t\trValue.x.push(x);\n\t\trValue.y.push(y);\n\t}\n\telse if(element[4].includes(\"Request Timeout\"))\n\t{\n\t\tlet y = 500.0;\n\t\trValue.x.push(x);\n\t\trValue.y.push(y);\n\t}\n\telse\n\t{\n\t\tconsole.log(\"Ping Status\" + element[4]);\n\t}\t\t\n}\n\nmsg.payload = rValue;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":460,"wires":[["cb2ecad1.0b5f98","7130674a.5684c8"]]},{"id":"cb2ecad1.0b5f98","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":460,"wires":[]},{"id":"e4c756f8.423698","type":"inject","z":"37aefa5.2e41d06","name":"","topic":"","payload":"2019/10/7 上午 06:48:09","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":100,"wires":[["2a677ad.2e27386","9e158b6d.c552a8"]]},{"id":"9da42964.a64518","type":"debug","z":"37aefa5.2e41d06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":100,"wires":[]},{"id":"83193f84.745ac","type":"inject","z":"37aefa5.2e41d06","name":"","topic":"","payload":"2019/10/7 上午 06:53:08","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":140,"wires":[["2a677ad.2e27386"]]},{"id":"2a677ad.2e27386","type":"function","z":"37aefa5.2e41d06","name":"test字串轉時間","func":"let str = msg.payload;\nfor(let i = 0 ; i < 3 ; i++)\n{\n    str = str.replace(\"/\",\"-\");\n}\nstr = str.replace(\" 上午 \",\" \");\nstr = str.replace(\" 下午 \",\" \");\n\n//console.log(str);\n\nmsg.payload = Date.parse(str);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":100,"wires":[["9da42964.a64518"]]},{"id":"9e158b6d.c552a8","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":60,"wires":[]},{"id":"7130674a.5684c8","type":"function","z":"37aefa5.2e41d06","name":"排序","func":"\nlet time_array = msg.payload.x;\nlet ping_array = msg.payload.y;\n\n\nfor(let i = 0 ; i < time_array.length -1; i++)\n{\n    for(let j = 0 ; j < time_array.length -1 - i ; j++)\n    {\n        if(time_array[j].timestamp > time_array[j+1].timestamp)\n        {\n            let tmp;\n            tmp = time_array[j];\n            time_array[j] = time_array[j+1];\n            time_array[j+1] = tmp;\n            \n            tmp = ping_array[j];\n            ping_array[j] = ping_array[j+1];\n            ping_array[j+1] = tmp;\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["e3d67fb9.34e8a","66216c83.c71ff4"]]},{"id":"e3d67fb9.34e8a","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":500,"wires":[]},{"id":"cb2d7186.3635","type":"debug","z":"37aefa5.2e41d06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":540,"wires":[]},{"id":"c69e7fc8.e9f53","type":"function","z":"37aefa5.2e41d06","name":"生成 chart msg","func":"ax = msg.payload.X;\nay = msg.payload.Y;\n\nmsg.payload = [{\n \"series\": [ \"X\" ],\n \"data\": [ ay ],\n \"labels\": ax\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["71d19698.57f708"]]},{"id":"71d19698.57f708","type":"ui_chart","z":"37aefa5.2e41d06","name":"","group":"c6296e1.fd2c19","order":0,"width":0,"height":0,"label":"ping響應時間 (ms)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":580,"wires":[[]]},{"id":"a293365f.05b8a8","type":"file in","z":"37aefa5.2e41d06","name":"","filename":"pinginfo1.html","format":"utf8","chunk":false,"sendError":false,"encoding":"ucs2","x":920,"y":300,"wires":[["fcd0408a.82da4","2c539c37.cd7614"]]},{"id":"95bc5505.222718","type":"inject","z":"37aefa5.2e41d06","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":300,"wires":[["a293365f.05b8a8"]]},{"id":"2c539c37.cd7614","type":"html","z":"37aefa5.2e41d06","name":"td 取得表格","property":"payload","outproperty":"payload","tag":"td","ret":"text","as":"single","x":910,"y":340,"wires":[["397f7dd4.c012a2","fcd00c73.01d7d"]]},{"id":"fcd0408a.82da4","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":300,"wires":[]},{"id":"397f7dd4.c012a2","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":340,"wires":[]},{"id":"fcd00c73.01d7d","type":"split","z":"37aefa5.2e41d06","name":"5個一行","splt":"","spltType":"str","arraySplt":"5","arraySpltType":"len","stream":false,"addname":"","x":900,"y":380,"wires":[["e0835a4a.780ea8","f18823db.c56fc"]]},{"id":"e0835a4a.780ea8","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":380,"wires":[]},{"id":"f18823db.c56fc","type":"join","z":"37aefa5.2e41d06","name":"整理","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":420,"wires":[["c68a4daf.3beeb","6a288138.ae528"]]},{"id":"c68a4daf.3beeb","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":420,"wires":[]},{"id":"30ae8a10.295106","type":"function","z":"37aefa5.2e41d06","name":"產生數據","func":"\nlet rValue = {};\nrValue.X = [];\nrValue.Y = [];\n\nfor(let i = 0 ; i < msg.payload.y.length ; i++)\n{\n    let x = (msg.payload.x[i].timestamp - msg.payload.x[0].timestamp) / 1000.0;\n    rValue.X.push(x);\n    rValue.Y.push(msg.payload.y[i]);\n}\n\nmsg.payload = rValue;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":900,"y":540,"wires":[["acd660ad.04462","51aee05.8828c2","320b74eb.8cb39c"]]},{"id":"6a288138.ae528","type":"function","z":"37aefa5.2e41d06","name":"提取資料","func":"function str2time(str_time) {\n\tlet str = str_time;\n\tfor(let i = 0 ; i < 3 ; i++)\n\t{\n\t\tstr = str.replace(\"/\",\"-\");\n\t}\n\tstr = str.replace(\" 上午 \",\" \");\n\tstr = str.replace(\" 下午 \",\" \");\n\n\t//console.log(str);\n\treturn Date.parse(str);\n}\n\nlet rValue={};\nrValue.x = [];\nrValue.y = [];\n\nfor (let index = 0; index < msg.payload.length; index++) {\n\tconst element = msg.payload[index];\n\tlet x = {};\n\tx.time_str = element[0];\n\tx.timestamp = str2time(element[0]);\n\t\n\tif(element[4].includes(\"Succeeded\")) // Ping Status\n\t{\n\t\tlet y = Number(element[2]); //ping time\n\t\trValue.x.push(x);\n\t\trValue.y.push(y);\n\t}\n\telse if(element[4].includes(\"Request Timeout\"))\n\t{\n\t\tlet y = 500.0;\n\t\trValue.x.push(x);\n\t\trValue.y.push(y);\n\t}\n\telse\n\t{\n\t\tconsole.log(\"Ping Status\" + element[4]);\n\t}\t\t\n}\n\nmsg.payload = rValue;\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":460,"wires":[["83d82fb3.383b8","5104bf72.97c58"]]},{"id":"83d82fb3.383b8","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":460,"wires":[]},{"id":"5104bf72.97c58","type":"function","z":"37aefa5.2e41d06","name":"排序","func":"\nlet time_array = msg.payload.x;\nlet ping_array = msg.payload.y;\n\n\nfor(let i = 0 ; i < time_array.length -1; i++)\n{\n    for(let j = 0 ; j < time_array.length -1 - i ; j++)\n    {\n        if(time_array[j].timestamp > time_array[j+1].timestamp)\n        {\n            let tmp;\n            tmp = time_array[j];\n            time_array[j] = time_array[j+1];\n            time_array[j+1] = tmp;\n            \n            tmp = ping_array[j];\n            ping_array[j] = ping_array[j+1];\n            ping_array[j+1] = tmp;\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":500,"wires":[["ab8a2cf3.02206","30ae8a10.295106"]]},{"id":"ab8a2cf3.02206","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":500,"wires":[]},{"id":"acd660ad.04462","type":"debug","z":"37aefa5.2e41d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":540,"wires":[]},{"id":"51aee05.8828c2","type":"function","z":"37aefa5.2e41d06","name":"生成 chart msg","func":"ax = msg.payload.X;\nay = msg.payload.Y;\n\nmsg.payload = [{\n \"series\": [ \"X\" ],\n \"data\": [ ay ],\n \"labels\": ax\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":580,"wires":[["4206bbd8.52bc74"]]},{"id":"4206bbd8.52bc74","type":"ui_chart","z":"37aefa5.2e41d06","name":"","group":"c6296e1.fd2c19","order":0,"width":0,"height":0,"label":"ping響應時間 (ms)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":580,"wires":[[]]},{"id":"8b7cab63.cf08a8","type":"change","z":"37aefa5.2e41d06","name":"","rules":[{"t":"set","p":"GL","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":620,"wires":[[]]},{"id":"320b74eb.8cb39c","type":"change","z":"37aefa5.2e41d06","name":"","rules":[{"t":"set","p":"DP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":620,"wires":[[]]},{"id":"addbb3d7.d9b42","type":"inject","z":"37aefa5.2e41d06","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1.0","x":130,"y":720,"wires":[["bb08c5bd.9f6fd8"]]},{"id":"bb08c5bd.9f6fd8","type":"function","z":"37aefa5.2e41d06","name":"生成 chart msg","func":"let DP = flow.get(\"DP\");\nlet GL = flow.get(\"GL\");\n\nmsg.payload = [{\n \"series\": [ \"頂埔\", \"觀瀾\" ],\n \"data\": [ DP.Y, GL.Y ],\n \"labels\": DP.X\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":720,"wires":[["61a58795.f09538"]]},{"id":"4603485c.756a18","type":"inject","z":"37aefa5.2e41d06","name":"","topic":"AAA","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":820,"wires":[[]]},{"id":"dd36f3fe.fe483","type":"inject","z":"37aefa5.2e41d06","name":"","topic":"BBB","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":880,"wires":[[]]},{"id":"868f355f.0cf0a8","type":"debug","z":"37aefa5.2e41d06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":840,"wires":[]},{"id":"61a58795.f09538","type":"ui_chart","z":"37aefa5.2e41d06","name":"","group":"c6296e1.fd2c19","order":0,"width":"8","height":"6","label":"ping響應時間 (ms)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff7777","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":720,"wires":[[]]},{"id":"fb522523.40c5e8","type":"inject","z":"337eae4a.036342","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":760,"wires":[["1efe6a91.739ce5"]]},{"id":"82cfb28e.d7f09","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":960,"wires":[]},{"id":"847ea1fc.4196d","type":"function","z":"337eae4a.036342","name":"生成 chart msg","func":"ax = msg.payload.X;\nay = msg.payload.Y;\n\nmsg.payload = [{\n \"series\": [ \"X\" ],\n \"data\": [ ay ],\n \"labels\": ax\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":1000,"wires":[["d2c9ada9.1eb19","82cfb28e.d7f09"]]},{"id":"d2c9ada9.1eb19","type":"ui_chart","z":"337eae4a.036342","name":"","group":"d2ca281a.d009a8","order":0,"width":0,"height":0,"label":"頻寬-上傳 (Mbits/sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":1000,"wires":[[]]},{"id":"1efe6a91.739ce5","type":"file in","z":"337eae4a.036342","name":"","filename":"upload1.log","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":130,"y":800,"wires":[["729ad57d.e84ddc","4589da54.951d44"]]},{"id":"729ad57d.e84ddc","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":800,"wires":[]},{"id":"4589da54.951d44","type":"join","z":"337eae4a.036342","name":"組成array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":120,"y":840,"wires":[["e0c5a5af.cc9c88","4007a3cb.5715ac"]]},{"id":"e0c5a5af.cc9c88","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":840,"wires":[]},{"id":"4007a3cb.5715ac","type":"function","z":"337eae4a.036342","name":"排除非必須","func":"// 排除開頭不是[ 5]的資料\nlet data_arr = [];\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element =  msg.payload[index];\n    //console.log(element);\n    if(element.includes(\"[  5]\") == true)\n    {\n        //console.log(element);\n        data_arr.push(element)\n    }\n}\n\n// 去頭1行\ndata_arr.shift();\n\n// 去尾2行\ndata_arr.pop();\ndata_arr.pop();\n\nmsg.payload = data_arr;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":880,"wires":[["ccf1d8d8.9a2bb8","c41a1092.14418"]]},{"id":"ccf1d8d8.9a2bb8","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":880,"wires":[]},{"id":"c41a1092.14418","type":"function","z":"337eae4a.036342","name":"字串分割","func":"let rValue = [];\n\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    let strs = element.split(/\\s+/)\n    rValue.push(strs);\n}\nmsg.payload = rValue;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":920,"wires":[["2f1fae50.b9a4d2","82f724d4.62e7d8"]]},{"id":"2f1fae50.b9a4d2","type":"debug","z":"337eae4a.036342","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":920,"wires":[]},{"id":"82f724d4.62e7d8","type":"function","z":"337eae4a.036342","name":"產生數據","func":"let X = [];\nlet Y = [];\nfor (let index = 0; index < msg.payload.length; index++) {\n    const element = msg.payload[index];\n    if(element.length != 9)    {\n        console.log(\"element.length != 9\");     \n    }\n    else{\n        // X\n        let strs = element[2].split(\"-\")\n        //console.log(strs);   \n        X.push(strs[0]);\n        \n        // Y\n        if(element[7] === \"Mbits/sec\")\n        {\n            Y.push(parseFloat(element[6]));\n        }\n        else\n        {\n            Y.push(parseFloat(0.0));\n            console.log(element[7]);     \n        }\n    }\n}\nlet rValue = {};\nrValue.X = X;\nrValue.Y = Y;\nmsg.payload = rValue;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":120,"y":960,"wires":[["3c472724.23afa8","13ce0e9f.79c761"]]},{"id":"3c472724.23afa8","type":"debug","z":"337eae4a.036342","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":960,"wires":[]},{"id":"13ce0e9f.79c761","type":"change","z":"337eae4a.036342","name":"保存數據","rules":[{"t":"set","p":"DP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1000,"wires":[["847ea1fc.4196d"]]},{"id":"c8277b7b.02a0f8","type":"inject","z":"337eae4a.036342","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"1.0","x":150,"y":1080,"wires":[["e1c7aef0.6f2a5"]]},{"id":"e1c7aef0.6f2a5","type":"function","z":"337eae4a.036342","name":"生成 chart msg","func":"let DP = flow.get(\"DP\");\nlet GL = flow.get(\"GL\");\n\nmsg.payload = [{\n \"series\": [ \"頂埔\", \"觀瀾\" ],\n \"data\": [ DP.Y, GL.Y ],\n \"labels\": DP.X\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":1080,"wires":[["b14f0c11.beb51"]]},{"id":"b14f0c11.beb51","type":"ui_chart","z":"337eae4a.036342","name":"","group":"d2ca281a.d009a8","order":0,"width":"8","height":"6","label":"頻寬-上傳 (Mbits/sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8080","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":560,"y":1080,"wires":[[]]}]